<a href="https://colab.research.google.com/github/khatamirock/colabs_AI_LAB/blob/second_stage/Decision_Tree_AI_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import pandas as pd
from collections import Counter
import math

!git clone https://github.com/khatamirock/colabs_AI_LAB/blob/main/DT.csv

Cloning into 'DT.csv'...
fatal: repository 'https://github.com/khatamirock/colabs_AI_LAB/blob/main/DT.csv/' not found

In [11]:
data = pd.read_csv('/content/DT.csv')
data.head(7)

     age       edu  incm Mart stt   BC
0  36-55    master  high   single  yes
1  18-35    high s   low   single   no
2  36-55    master   low   single  yes
3  18-35  bachelor  high   single   no
4    <18    high s   low   single  yes
5  18-35  bachelor  high  married   no
6  36-55  bachelor   low  married   no

In [64]:

def logger(val,total,predc='',brnc='',coln=''):

  
  try:
    val=int(val)/total
    # print(coln,brnc,end= '  ')
    return val*math.log2(val)
  except:
    print('(NO branch!!) ', coln,' ' ,brnc,'  ',predc)
    return 0

In [90]:

def edgechecker(col, coln, cat):

    loctotal = len(col)
    bc_cnt = Counter(col['BC'])
    # print(total,col)
    main_inf_gain = -(logger(bc_cnt['yes'], loctotal, 'NO', cat,
                             coln) + logger(bc_cnt['no'], loctotal, 'YES', cat, coln))
    return main_inf_gain*(loctotal/20)

In [39]:
def ig2(col,coln,brnc,total):

  loctotal=len(col)
  bc_cnt=Counter(col['BC'])
  # print(loctotal,bc_cnt,total)
  main_inf_gain=-(logger(bc_cnt['yes'] ,loctotal ,'NO',brnc,coln ) + logger(bc_cnt['no'] ,loctotal,'YES' ,brnc,coln )  )
  return main_inf_gain*(loctotal/total)

In [14]:


def runner(data):
  cols=set(['age','edu','incm','Mart stt'])
  

  tempstore={}
  total=len(data)
  class_gain=ig2(data,'BC','',total)
  print(class_gain)
  # print(total)

  for col in cols:

    age_cata=Counter(data[col])
    
    age_ig=0
    for cat in age_cata:
      # print(cat)
      dd=data[data[col].str.contains(cat)]
      age_ig+=ig2(dd,col,cat,total)
    print('information gain for  '+ col+ ' = ',class_gain- age_ig)  
    tempstore[col]=class_gain- age_ig



  max(tempstore)    

  arr=sorted(tempstore.items(),key=lambda x:x[1])
  return arr[-1]

In [ ]:
# todo is to genereatet the tree procedurally
# if the roots child node have Y/N then add it to children
# else find the next child ROOT

In [35]:
dd=data[data['Mart stt'].str.contains('single')]
# print(dd)
dd # for each replacement of data

      age       edu  incm Mart stt   BC
0   36-55    master  high   single  yes
1   18-35    high s   low   single   no
2   36-55    master   low   single  yes
3   18-35  bachelor  high   single   no
4     <18    high s   low   single  yes
7     >55  bachelor  high   single  yes
10  36-55    master  high   single  yes
11    >55    master  high   single  yes
12    <18    high s  high   single   no
13  36-55    master   low   single  yes
14  36-55    high s   low   single  yes
18    >55  bachelor   low   single  yes

In [46]:
runner(data)

0.9709505944546686
information gain for  Mart stt =  0.1024101186092029
information gain for  edu =  0.14354652412251911
information gain for  incm =  0.03030514483932223
(NO branch!!)  age   18-35    NO
(NO branch!!)  age   >55    YES
information gain for  age =  0.45143261817650915

('age', 0.45143261817650915)

In [54]:
ig2(data,'age','18-35',20)

0.9709505944546686

In [91]:



for cat in  Counter(data['age']):

  col,cat='age',cat

  dd = data[data[col].str.contains(cat)]
  xx=edgechecker(dd, col, cat)
  print('>>>>>>>',xx==0,xx)

>>>>>>> False 0.381773601169986
(NO branch!!)  age   18-35    NO
>>>>>>> True -0.0
>>>>>>> False 0.13774437510817342
(NO branch!!)  age   >55    YES
>>>>>>> True -0.0

In [74]:
age_cata = Counter(data[col])
age_cata

Counter({'36-55': 8, '18-35': 4, '<18': 3, '>55': 5})