<a href="https://colab.research.google.com/github/khatamirock/colabs_AI_LAB/blob/3rdStage/Decision_Tree_AI_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import pandas as pd
from collections import Counter
import math

!git clone https://github.com/khatamirock/colabs_AI_LAB

fatal: destination path 'colabs_AI_LAB' already exists and is not an empty directory.

In [14]:
data = pd.read_csv('/content/DT.csv')
data.head(7)

     age       edu  incm Mart stt   BC
0  36-55    master  high   single  yes
1  18-35    high s   low   single   no
2  36-55    master   low   single  yes
3  18-35  bachelor  high   single   no
4    <18    high s   low   single  yes
5  18-35  bachelor  high  married   no
6  36-55  bachelor   low  married   no

In [39]:

def logger(val,total,predc='',brnc='',coln=''):

  
  try:
    val=int(val)/total
    # print(coln,brnc,end= '  ')
    return (val*math.log2(val),1)
  except:
    # print('(NO branch!!) ', coln,' ' ,brnc,'  ',predc)
    return (0,predc)

In [34]:

def edgechecker(col, coln, cat):

    loctotal = len(col)
    bc_cnt = Counter(col['BC'])
    # print(total,col)
    no=logger(bc_cnt['yes'] ,loctotal ,'NO')
    yes= logger(bc_cnt['no'] ,loctotal,'YES')
    main_inf_gain=-( no[0]+yes[0] )

    if no[1]!=1:return no[1]
    elif yes[1]!=1:return yes[1]
  
    return main_inf_gain*(loctotal/20)

In [27]:
def ig2(col,coln,brnc,total):

  loctotal=len(col)
  bc_cnt=Counter(col['BC'])
  # print(loctotal,bc_cnt,total)
  no=logger(bc_cnt['yes'] ,loctotal ,'NO',brnc,coln )[0]
  yes= logger(bc_cnt['no'] ,loctotal,'YES' ,brnc,coln )[0]
  main_inf_gain=-( no+yes )
  return main_inf_gain*(loctotal/total)

In [18]:


def runner(data):
  cols=set(['age','edu','incm','Mart stt'])
  

  tempstore={}
  total=len(data)
  class_gain=ig2(data,'BC','',total)
  print(class_gain)
  # print(total)

  for col in cols:

    age_cata=Counter(data[col])
    
    age_ig=0
    for cat in age_cata:
      # print(cat)
      dd=data[data[col].str.contains(cat)]
      age_ig+=ig2(dd,col,cat,total)
    print('information gain for  '+ col+ ' = ',class_gain- age_ig)  
    tempstore[col]=class_gain- age_ig



  max(tempstore)    

  arr=sorted(tempstore.items(),key=lambda x:x[1])
  return arr[-1]

In [58]:
# todo is to genereatet the tree procedurally
# if the roots child node have Y/N then add it to children
# else find the next child ROOT


class learn:
    def __init__(self, name, children={}):
        self.name = name
        self.children = children

In [70]:
dd=data[data['age'].str.contains('36-55')]
# print(dd)
dd # for each replacement of data

      age       edu  incm Mart stt   BC
0   36-55    master  high   single  yes
2   36-55    master   low   single  yes
6   36-55  bachelor   low  married   no
8   36-55    master   low  married   no
10  36-55    master  high   single  yes
13  36-55    master   low   single  yes
14  36-55    high s   low   single  yes
19  36-55    high s  high  married   no

In [43]:
xx=runner(data)
print('<<<<<<<<<<<<',xx)

0.9709505944546686
information gain for  age =  0.45143261817650915
information gain for  Mart stt =  0.1024101186092029
information gain for  incm =  0.03030514483932223
information gain for  edu =  0.14354652412251911
<<<<<<<<<<<< ('age', 0.45143261817650915)

In [71]:
ig2(data,'age','18-35',20)

0.9709505944546686

In [72]:

node = runner(data)

node = learn(name=node[0])


def visiter(data, node):

    # node.name='age'
    for cat in Counter(data[node.name]):  # branch[0]

        col, cat = node.name, cat
        # here if branch is 0 add child [predc]
        # else create a node in the name {branch[0]} and add it to this root

        dat = data[data[col].str.contains(cat)]
        print(dat)
        xx = edgechecker(dat, col, cat)
        if xx == 'YES' or xx == 'NO':
            print('xx>>>>', end=' ')
            node.children[cat] = xx
        else:
            newnodeName = runner(dat)
            print(newnodeName)
            newnode = learn(newnodeName[0], {})
            node.children[cat] = newnode
            print(node.children, newnode.children)
            visiter(dat, newnode)
            # node = learn()
        print('>>>>>>>', col, cat, xx)


visiter(data, node)
print(node.name,node.children)

0.9709505944546686
information gain for  age =  0.45143261817650915
information gain for  Mart stt =  0.1024101186092029
information gain for  incm =  0.03030514483932223
information gain for  edu =  0.14354652412251911
      age       edu  incm Mart stt   BC
0   36-55    master  high   single  yes
2   36-55    master   low   single  yes
6   36-55  bachelor   low  married   no
8   36-55    master   low  married   no
10  36-55    master  high   single  yes
13  36-55    master   low   single  yes
14  36-55    high s   low   single  yes
19  36-55    high s  high  married   no
0.9544340029249649
information gain for  age =  0.0
information gain for  Mart stt =  0.9544340029249649
information gain for  incm =  0.0032289436203634114
information gain for  edu =  0.2532289436203635
('Mart stt', 0.9544340029249649)
{'<12': 'rock', '36-55': <__main__.learn object at 0x7fbce99d4fd0>} {}
      age     edu  incm Mart stt   BC
0   36-55  master  high   single  yes
2   36-55  master   low   single  yes
10  36-55  master  high   single  yes
13  36-55  master   low   single  yes
14  36-55  high s   low   single  yes
xx>>>> >>>>>>> Mart stt single YES
      age       edu  incm Mart stt  BC
6   36-55  bachelor   low  married  no
8   36-55    master   low  married  no
19  36-55    high s  high  married  no
xx>>>> >>>>>>> Mart stt married NO
>>>>>>> age 36-55 0.381773601169986
      age       edu  incm Mart stt  BC
1   18-35    high s   low   single  no
3   18-35  bachelor  high   single  no
5   18-35  bachelor  high  married  no
16  18-35  bachelor  high  married  no
xx>>>> >>>>>>> age 18-35 NO
    age     edu  incm Mart stt   BC
4   <18  high s   low   single  yes
12  <18  high s  high   single   no
15  <18  high s   low  married  yes
0.9182958340544896
information gain for  age =  0.0
information gain for  Mart stt =  0.2516291673878229
information gain for  incm =  0.9182958340544896
information gain for  edu =  0.0
('incm', 0.9182958340544896)
{'<12': 'rock', '36-55': <__main__.learn object at 0x7fbce99d4fd0>, '18-35': 'NO', '<18': <__main__.learn object at 0x7fbce941b4d0>} {}
    age     edu incm Mart stt   BC
4   <18  high s  low   single  yes
15  <18  high s  low  married  yes
xx>>>> >>>>>>> incm low YES
    age     edu  incm Mart stt  BC
12  <18  high s  high   single  no
xx>>>> >>>>>>> incm high NO
>>>>>>> age <18 0.13774437510817342
    age       edu  incm Mart stt   BC
7   >55  bachelor  high   single  yes
9   >55    master   low  married  yes
11  >55    master  high   single  yes
17  >55    high s  high  married  yes
18  >55  bachelor   low   single  yes
xx>>>> >>>>>>> age >55 YES
age {'<12': 'rock', '36-55': <__main__.learn object at 0x7fbce99d4fd0>, '18-35': 'NO', '<18': <__main__.learn object at 0x7fbce941b4d0>, '>55': 'YES'}

In [65]:
node.children['<12']="rock"
node.children

{'<12': 'rock'}

In [41]:

col,cat='age','36-55'

dd = data[data[col].str.contains(cat)]
xx=edgechecker(dd, col, cat)
xx

0.381773601169986