<a href="https://colab.research.google.com/github/khatamirock/colabs_AI_LAB/blob/main/Decision_Tree_AI_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from collections import Counter
import math

In [ ]:
data = pd.read_csv('/content/DT.csv',sep= ',')
data.head(7)

     age       edu  incm Mart stt   BC
0  36-55    master  high   single  yes
1  18-35    high s   low   single   no
2  36-55    master   low   single  yes
3  18-35  bachelor  high   single   no
4    <18    high s   low   single  yes
5  18-35  bachelor  high  married   no
6  36-55  bachelor   low  married   no

In [ ]:

def logger(val,total,predc,brnc,coln):

  val=int(val)/total
  try:
    return val*math.log2(val)
  except:
    print('(NO branch!!) ', coln,' ' ,brnc,'  ',predc)
    return 0

In [ ]:
def ig(col):

  total=len(data[col])
  bc_cnt=Counter(data[col])
  print(bc_cnt)
  main_inf_gain=-(logger(bc_cnt['yes'] ,total,'NO' ) + logger(bc_cnt['no'] ,total,'YES')  )
  return main_inf_gain

In [ ]:
class_gain=ig('BC')

In [ ]:
def ig2(col,coln,cat):

  loctotal=len(col)
  bc_cnt=Counter(col['BC'])
  # print(total,col)
  main_inf_gain=-(logger(bc_cnt['yes'] ,loctotal ,'NO',cat,coln ) + logger(bc_cnt['no'] ,loctotal,'YES' ,cat,coln )  )
  return main_inf_gain*(loctotal/20)

In [ ]:
cols=set(['age','edu','incm','Mart stt','BC'])

tempstore={}

for col in cols:

  age_cata=Counter(data[col])
  age_cata
  age_ig=0
  for cat in age_cata:
    # print(cat)
    dd=data[data[col].str.contains(cat)]
    age_ig+=ig2(dd,col,cat)
  print('information gain for  '+ col+ ' = ',class_gain- age_ig)  
  tempstore[col]=class_gain- age_ig


tempstore

information gain for  incm =  0.03030514483932223
(NO branch!!)  BC   yes    YES
(NO branch!!)  BC   no    NO
information gain for  BC =  0.9709505944546686
information gain for  edu =  0.14354652412251911
(NO branch!!)  age   18-35    NO
(NO branch!!)  age   >55    YES
information gain for  age =  0.45143261817650915
information gain for  Mart stt =  0.1024101186092029

{'incm': 0.03030514483932223,
 'BC': 0.9709505944546686,
 'edu': 0.14354652412251911,
 'age': 0.45143261817650915,
 'Mart stt': 0.1024101186092029}

In [ ]:
dd=data[data['BC'].str.contains('')]
# print(dd)
ig2(dd,'BC','')

0.9709505944546686