<a href="https://colab.research.google.com/github/khatamirock/colabs_AI_LAB/blob/main/Decision_Tree_AI_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
from collections import Counter
import math
# !wget https://github.com/khatamirock/colabs_AI_LAB/blob/main/DT.csv

--2022-11-01 12:41:31--  https://github.com/khatamirock/colabs_AI_LAB/blob/main/DT.csv
Resolving github.com (github.com)... 192.30.255.113
Connecting to github.com (github.com)|192.30.255.113|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/html]
Saving to: ‘DT.csv.1’

DT.csv.1                [ <=>                ] 149.62K  --.-KB/s    in 0.03s

2022-11-01 12:41:32 (4.59 MB/s) - ‘DT.csv.1’ saved [153208]

In [27]:
data = pd.read_csv('/content/DT.csv')
data.head(7)

     age       edu  incm Mart stt   BC
0  36-55    master  high   single  yes
1  18-35    high s   low   single   no
2  36-55    master   low   single  yes
3  18-35  bachelor  high   single   no
4    <18    high s   low   single  yes
5  18-35  bachelor  high  married   no
6  36-55  bachelor   low  married   no

In [42]:

def logger(val,total,predc,brnc,coln):

  val=int(val)/total
  try:
    # print(coln,brnc,end= '  ')
    return val*math.log2(val)
  except:
    print('(NO branch!!) ', coln,' ' ,brnc,'  ',predc)
    return 0

In [86]:
def ig2(col,coln,cat,total):

  loctotal=len(col)
  bc_cnt=Counter(col['BC'])
  # print(loctotal,bc_cnt)
  main_inf_gain=-(logger(bc_cnt['yes'] ,loctotal ,'NO',cat,coln ) + logger(bc_cnt['no'] ,loctotal,'YES' ,cat,coln )  )
  return main_inf_gain*(loctotal/total)

In [97]:


def runner(data):
  cols=set(['age','edu','incm','Mart stt'])
  

  tempstore={}
  total=len(data)
  class_gain=ig2(data,'BC','',total)
  print(class_gain)
  # print(total)

  for col in cols:

    age_cata=Counter(data[col])

    age_ig=0
    for cat in age_cata:
      # print(cat)
      dd=data[data[col].str.contains(cat)]
      age_ig+=ig2(dd,col,cat,total)
    print('information gain for  '+ col+ ' = ',class_gain- age_ig)  
    tempstore[col]=class_gain- age_ig



  max(tempstore)    

  arr=sorted(tempstore.items(),key=lambda x:x[1])
  return arr[-1]

In [99]:
dd=data[data['age'].str.contains('36-55')]
# print(dd)
dd

      age       edu  incm Mart stt   BC
0   36-55    master  high   single  yes
2   36-55    master   low   single  yes
6   36-55  bachelor   low  married   no
8   36-55    master   low  married   no
10  36-55    master  high   single  yes
13  36-55    master   low   single  yes
14  36-55    high s   low   single  yes
19  36-55    high s  high  married   no

In [100]:
runner(dd)

0.9544340029249649
information gain for  age =  0.0
(NO branch!!)  Mart stt   single    YES
(NO branch!!)  Mart stt   married    NO
information gain for  Mart stt =  0.9544340029249649
information gain for  incm =  0.0032289436203634114
(NO branch!!)  edu   bachelor    NO
information gain for  edu =  0.2532289436203635

('Mart stt', 0.9544340029249649)

In [66]:
ig2(dd,'age','18-35')

20 Counter({'yes': 12, 'no': 8})

0.9709505944546686